section.places {
    display: flex;
    padding: 40px 25px;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}
section.places h1 {
    width: 100%;
    font-size: 30px;
    margin: 25px 0 0 0;
}
section.places article{
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
}
section.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 15px 0;
}